input {
    margin: 0px 10px 0px 10px;
    width: 50px;
    color: white;
    background-color:gray;
    border: none;
    height: 25px;
    padding-left: 10px;
    font-size: 18px;
    padding-right: 5px;
}